html,
body,
.login-wrapper  {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.wrapper {
  margin: 25px;
}

footer {
  display: block;
  min-height: 50px;
}

.hide {
  display: none;
}

#search {
  position: relative;
}

#global-search-list {
  height: auto;
  position: absolute;
  padding: 5px;
  width: 150%;
  top: 110%;
  left: 0;
  z-index: 1111;
  opacity: 0;
  transition: opacity 0.5s;
  display: none;
}

#global-search-list.active {
  display: block;
  opacity: 1;
}

#global-search-list .row div {
  padding: 10px 10px;
}

#cardsTab .card {
  min-height: 150px;
  min-width: 100%;
}

.pagination .page-item {
  cursor: pointer;
}